lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
/assets/bootstrap-5.2.3-dist
/assets/fontawesome-free-6.6.0-web
/assets/fonts
/assets/jquery-3.7.1.min.js
/assets/images
/assets/slick
/inc
/sass
/languages
/acf-json

npm-debug.log
node_modules

.sass-cache